<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" default-autowire="byName">
	<bean id="resourceDao" class="com.k.dao.impl.system.ResourceDaoImpl" scope="prototype"></bean>
	<bean id="userDao" class="com.k.dao.impl.system.UserDaoImpl" scope="prototype"></bean>
	<bean id="loggerDao" class="com.k.dao.impl.system.LoggerDaoImpl" scope="prototype"></bean>
</beans>