<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" default-autowire="byName">
	<bean id="userService" class="com.k.webshop.service.impl.UserServiceImpl" scope="prototype"></bean>
	<bean id="goodsService" class="com.k.webshop.service.impl.GoodsServiceImpl" scope="prototype"></bean>
	<bean id="sysResourceService" class="com.k.webshop.service.system.impl.SysResourceServiceImpl" scope="prototype"></bean>
	<bean id="shopService" class="com.k.webshop.service.impl.ShopServiceImpl" scope="prototype"></bean>
</beans>